{% extends "layout.html" %}{% block title %} Inspiration {% endblock %}

{% block main %}

<table class="table borderless">

     <thead>
         <tr><h2>Inspiration</h2></tr>

    </thead>

    <tbody>
        <tr>

            <td class ="ins"><a href="https://www.halfbakedharvest.com/"> Half baked harvest </a>
            <h4>The recipes you’ll find here are inspired by the people and places I love most. I come from a family of ten, and a big family means BIG meals.
            <p>In an effort to tame some of our mealtime chaos and get dinner on the table at a respectable hour,I began to help cook. I soon realized how much I enjoyed it, and before I knew it, I had taken over cooking our meals full-time.</p>
            I captured the process in photos and documented my best recipes, and that’s how Half Baked Harvest was born.</h4>
            </td>
        </tr>
        <tr>
            <td class="ins"><a href=https://www.mysrilankanrecipe.com/> My Sri Lankan recipe </a><h4>Sri lankan food</h4></td>
        </tr>
        <tr>
            <td class="ins"><a href="https://georgianrecipes.net/"> Georgian Recipes </a>
            <h4>Georgian Recipes is a project of Georgia About, a registered not-for-profit organization in Georgia that undertakes research and promotion of Georgian culture, cuisine, tourism and heritage within Georgia and internationally.
            <p>Georgian Recipes aims to promote and preserve Georgia’s rich culinary heritage. All of the dishes shown on the website have been prepared by a Georgian cook using traditional recipes and are presented in a step-by-step way so that you too can enjoy authentic Georgian cuisine.</p>
            <p>Georgian cuisine refers to the cooking styles and dishes with origins in the country of Georgia. Each historical province of Georgia has its own distinct culinary tradition, for example Megrelian, Kakhetian, Ajarian and Imeretian cuisines. We post recipes for well known national and regional dishes as well as less known traditional dishes and popular everyday family meals.</p>
            <p>Food is an integral part of Georgia’s famed hospitality, which is particularly demonstrated  in feasts called supra, where a huge assortment of dishes is prepared and always accompanied by large amounts of wine, and often lasting for hours.</p></h4>
            </td>
        </tr>

    </tbody>

</table>


{% endblock %}